canvas{
    position:absolute;
    left:0px;
    top:0px;
}
/*canvas#cvs_paper{
    border: 1px solid grey;
}*/
canvas#cvs_background{
    border: 1px solid grey;
    z-index:1;
}

canvas#cvs_paper{
    z-index:2;
}
canvas#cvs_zoom{
    z-index:3;
}
/*canvas#cvs{
    width: 300px;
    height: 150px;
    border: 1px solid #000000;
}
#cvs2,#cvs3, #cvs_temp1,#cvs_temp2{
    width: 300px;
    height: 150px;
    border: 1px solid #000000;
}*/
